body {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    background-color: #F5F5F5;
}

h1 {
    margin: 0;
    padding: 25px;
    font-weight: 700;
    font-size: 61px;
}

input, select, button, .input {
    border: 1px solid #D1D1D1;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 12px;
    cursor: pointer;
}


.p-0 {
    padding: 0;
}

#subtaskInput {
    padding: 0;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

textarea:focus {
    outline: none;
    border: 1px solid black;
}

input::placeholder {
    color: #D1D1D1;
}

textarea {
    resize: none;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

textarea {
    font-weight: 400;
    font-size: 21px;
    font-family: 'Inter', sans-serif;

}

textarea::placeholder {
    color: #D1D1D1;

}

label {
    font-weight: 400;
    font-size: 21px;
    margin: 5px;
}

#dueDate {
    color: #D1D1D1;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    margin-left: 60px;
}

.forms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 515px;
}

.form {
    width: 515px;
    height: 500px;
    position: relative;
}

.form:first-child {
    border-right: 1px solid #D1D1D1;
}

.row {
    display: flex;
    justify-content: space-around;
}

.prioButton {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: center;
    transition: all ease-in-out 125ms;
    cursor: pointer;
}

.prioButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 125ms;
}

.active {
    transform: scale(1.05);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
}

.active img {
    filter: brightness(0) invert(1);
}

.red {
    background-color: #FF3D00;
}

.orange {
    background-color: #FFA800;
}

.green {
    background-color: #7AE229;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 35px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}



.button {
    border-radius: 10px;
    padding: 12px;
}

.button img {
    padding-left: 5px;
}

#clear {
    border: 1px solid #2A3647;
}

#createTask {
    background-color: #2A3647;
    color: #FFFFFF;
}

.customSelect {
    display: flex;
    flex-direction: column;
    max-height: 46px;
    overflow: hidden;
    border: 1px solid #D1D1D1;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: max-height ease-in-out 400ms;

}

.placeholder {
    justify-content: space-between;
}

.customSelect span {
    display: flex;
    padding: 12px;
    gap: 25px;
    align-items: center;
}

.category {
    justify-content: flex-start;
}

.assigned {
    justify-content: space-between;
}

.selectable:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.customSelect img {
    align-self: center;
    padding: 5px;
}

.open {
    max-height: 200px;
    transition: max-height ease-in-out 400ms;
    overflow: auto;
}

.color {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid white;

}

#pink {
    background-color: #FC71FF;
}

#yellow {
    background-color: #FFA800;
}

#ocean {
    background-color: #29ABE2;
}

#blue {
    background-color: #462F8A;
}

#red {
    background-color: #FF3D00;
}

#orange {
    background-color: #FFA800;
}

#green {
    background-color: #7AE229;
}

.pink {
    background-color: #FC71FF;
}

.yellow {
    background-color: #FFA800;
}

.ocean {
    background-color: #29ABE2;
}

.blue {
    background-color: #462F8A;
}

.colorPicker {
    display: none;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.colorPicker .color {
    border: none;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.colorPicker .color:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 125ms;
}

.colorPicker .active {
    border: 2px solid white;
}

.noBorder {
    border: none;
    width: -webkit-fill-available;
    width: -moz-available;
}

.noBorder:focus {
    outline: none;
    border: none;
}

.createClearContainer {
    color: #D1D1D1;
    display: flex;
    align-items: center;
}

.customSelectorInput img:last-child {
    filter: brightness(0);
}

.customSelectorInput img {
    padding: 10px;
}

.customSelectorInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#firstValue {
    display: flex;
    align-items: center;
    gap: 25px;
}

.checkbox {
    margin-right: 5px;
}

#contactImg {
    filter: brightness(0);
    padding: 2px;
}

#assignedTo {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.assignedTo {
    background-color: aquamarine;
    padding: 15px;
    border-radius: 50%;
}