body {
    display: flex;
    justify-content: flex-start;
    font-family: 'Inter';
    background-color: #F5F5F5;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 25px;
    font-weight: 700;
    font-size: 61px;
}

input, select, button, .input {
    border: 1px solid #D1D1D1;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 12px;
    cursor: pointer;
}

.contactCheckbox {
    pointer-events: none;
}

.p-0 {
    padding: 0;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

textarea:focus {
    outline: none;
    border: 1px solid black;
}

input::placeholder {
    color: #D1D1D1;
}

textarea {
    resize: none;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

textarea {
    font-weight: 400;
    font-size: 21px;
    font-family: 'Inter', sans-serif;

}

textarea::placeholder {
    color: #D1D1D1;

}

label {
    font-weight: 400;
    font-size: 21px;
    margin: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 270px;
}

.forms {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.form {
    width: 515px;
    height: 650px;
    position: relative;
}

.form:first-child {
    border-right: 1px solid #D1D1D1;
}

.row {
    display: flex;
    justify-content: space-around;
}

.prioButton {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: center;
    transition: all ease-in-out 125ms;
    cursor: pointer;
}

.prioButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 125ms;
}

.active {
    transform: scale(1.05);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
    color: white
}

.active img {
    filter: brightness(0) invert(1);
}

.red {
    background-color: #FF3D00;
}

.orange {
    background-color: #FFA800;
}

.green {
    background-color: #7AE229;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 35px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}



.button {
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    height: fit-content;
    display: flex;
}

.button p {
    margin: 0;
}

.button img {
    padding-left: 5px;
}

.button:hover {
    transform: scale(1.05);
}

#clear {
    border: 1px solid #2A3647;
}

#createTask {
    background-color: #2A3647;
    color: #FFFFFF;
}

.filterWhite {
    filter: brightness(100);
}

.customSelect {
    display: flex;
    flex-direction: column;
    max-height: 46px;
    overflow: hidden;
    border: 1px solid #D1D1D1;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: max-height ease-in-out 400ms;

}

.placeholder {
    justify-content: space-between;
}

.customSelect span {
    display: flex;
    padding: 12px;
    gap: 25px;
    align-items: center;
}

.category {
    justify-content: flex-start;
}

.assigned {
    justify-content: space-between;
}

.selectable:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.customSelect img {
    align-self: center;
    padding: 5px;
}

.open {
    max-height: 200px;
    transition: max-height ease-in-out 400ms;
    overflow: auto;
}

.color {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid white;

}

.colorPicker {
    display: none;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.colorPicker .color {
    border: none;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.colorPicker .color:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 125ms;
}

.colorPicker .active {
    border: 2px solid white;
}

.noBorder {
    border: none;
    width: -webkit-fill-available;
    width: -moz-available;
}

.noBorder:focus {
    outline: none;
    border: none;
}

.createClearContainer {
    color: #D1D1D1;
    display: flex;
    align-items: center;
}

.customSelectorInput img:last-child {
    filter: brightness(0);
}

.customSelectorInput img {
    padding: 10px;
}

.customSelectorInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#firstValue {
    display: flex;
    align-items: center;
    gap: 25px;
}

.checkbox {
    margin-right: 5px;
}

#contactImg {
    filter: brightness(0);
    padding: 2px;
}

#assignedToContainer {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.assignedTo {
    background-color: aquamarine;
    border-radius: 50%;
    margin-left: -12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

ul {
    padding: 0;
    max-height: 120px;
    overflow: auto;
}

.formValidation {
    color: #FF3D00;
    display: none;
}

#addedToBoard {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #FFFFFF;
    font-size: 21px;
    background-color: #2A3647;
    border-radius: 20px;
    width: 326px;
    height: 74px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
}

.comeFromBottom {
    display: flex !important;
    animation: comeFromBottom 2500ms;
}

#addedToBoard img {
    filter: brightness(100);
}

.templateContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 30px;
    animation: comeFromRight 500ms 1 alternate;
}


#close {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}

#close:hover {
    transform: scale(1.2);
}

#fullscreen {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    top: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
}

#addTaskTemplate {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.mobile-btn-container {
    display: none;
}

.only-desktop {
    display: flex !important;
}

.only-mobile {
    display: none !important;
}

nav {
    z-index: 999 !important;
}

@keyframes comeFromBottom {
    0% {
        bottom: -150px;
    }

    50% {
        bottom: 100px;
    }

    100% {
        bottom: 100px;
    }
}

@keyframes comeFromRight {
    0% {
        left: 2500px;
    }

    100% {
        left: 50%;
    }


}

@media (max-width:1280px) {
    .container {
        margin-left: 160px;
    }
}

@media (max-width: 1180px) {

    .only-desktop {
        display: none !important;
    }

    .only-mobile {
        display: block !important;
    }

    body {
        justify-content: center;
    }

    .forms {
        flex-direction: column;
        justify-content: unset;
        margin-bottom: 100px;

    }

    .forms.templates {
        margin-top: 170px;

    }

    .form:first-child {
        border: none;
    }

    .form {
        width: 650px;
        height: auto;
    }

    .container {
        margin-left: 0;
    }

    #addTaskTemplate {
        position: absolute;
    }

    #fullscreen {
        height: 100vh;
    }

    .inputContainer {
        padding: 0px;
    }

    /* unterhalb alles von steven f端r responsive hinzugef端gt*/

    .buttonContainer {
        z-index: 999;
        position: fixed;
        margin: 0px;
        top: 15px;
        right: 20px;
        height: 50px;
    }

    .templateContainer {
        border-radius: 0 !important;
        padding: 0px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        animation: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }

    #headline {
        position: absolute;
        top: 90px;
        left: 5%;
    }

    #close {
        top: 100px;
    }

    .mobile-btn-container {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 80px;
        background-color: white;
        z-index: 999;

        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .mobile-btn-container>div {
        margin-inline: 20px;
    }

    #createTask #clear {
        width: 124px;
        height: 50px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    /* oberhalb alles von steven f端r responsive hinzugef端gt*/

}

@media (max-width: 850px) {
    .container {
        margin-left: 0;
    }
}

@media (max-width: 660px) {
    .form {
        max-width: 90vw;
    }

    .inputContainer {
        padding-left: 0;
        padding-right: 0;
    }

    #fullscreen {
        height: 100vh;
    }
}

@media (max-width: 440px) {
    *, button, input, label, textarea {
        font-size: 14px !important;
    }

    h1 {
        font-size: 36px !important;
    }

    .plus {
        font-size: 38px !important;
    }

    .prioButton {
        gap: 3px;
    }

    .button {
        padding: 10px;
    }

    h1 {
        padding: 5px;
        font-size: 50px;
    }
}