.neon-orange {
  background-color: #ff7a00;
}

.medium,
#orange,
.orange {
  background-color: #ffa800;
}


#yellow,
.yellow {
  background-color: #ffc700;
}

#blue,
.blue {
  background-color: #462f8a;
}

.dark-red {
  background-color: #af1616;
}

.low,
#green,
.green {
  background-color: #7ae229;
}

.neon-green {
  background-color: #02cf2f;
}

#pink,
.pink {
  background-color: #fc71ff;
}

#ocean,
.ocean {
  background-color: #29abe2;
}

.purple {
  background-color: #9327ff;
}

#red,
.urgent,
.red {
  background-color: #ff3d00;
}