body {
  background-color: #f5f5f5;
  font-family: "Inter";
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 230px;
  right: 60px;
  top: 100px;
  color: black;
  /* width: 88vw; */
}

h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

h2 {
  margin-inline: 5px;
}

#delete {
  border: 1px solid #ff3d00;
  background-color: #ff3d00;
  color: white;
}

#edit-area>div>div .buttonContainer {
  position: unset;
  margin: 10px;
}

#delete img {
  filter: brightness(0) invert(1);
}

#edit-assignedTo {
  display: flex;
}

.d-flex-jc-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fw-700 {
  font-weight: 700;
}

.d-flex-gap-20 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

#btn-add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10px;
  width: 137px;
  height: 51px;
  color: white;
  background: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 21px;
  line-height: 120%;
}

#btn-add-task:hover {
  background-color: #29abe2;
  border-color: #29abe2;
}

.btn-square-add-task {
  display: flex;
  position: relative;

  padding: 3px;
  width: 30px;
  height: 30px;
  border: 2px solid #2a3647;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.btn-square-add-task:hover {
  border-color: #29abe2;
  color: #29abe2;
}

.plus {
  position: absolute;
  top: 0;
  left: 0.5px;
  font-size: 38px;
  transform: translateY(-28%);
  font-size: 38px;
}

#search {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  height: 200px;
  width: 251px;
  height: 50px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  align-items: center;
  background-position: right center;
  padding: 0 10px 0 21px;
  margin-right: 50px;
}

#opened-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.284);
  z-index: 5;
}

#kanban {
  display: flex;
  gap: 26px;
}

#kanban>* {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.kanban-clm {
  min-height: 40%;
  max-height: calc(100vh - 300px);
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.kanban-clm::-webkit-scrollbar {
  display: none;
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 18px 19px;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  margin-bottom: 35px;
  cursor: pointer;
  max-width: 50vw;
}

.epic {
  padding: 4px 25px;
  background-color: orange;
  color: white;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.card {
  background-color: green;
  border: solid 1px red;
  height: 50px;
}

.task-name {
  font-weight: 700;
  font-size: 16px;
  color: #2a3647;
}

.task-description {
  font-weight: 400;
  font-size: 16px;
  color: #a8a8a8;
}

.bar {
  height: 8px;
  width: 50%;
  background: #f4f4f4;
  background-repeat: no-repeat;
}

.w-100 {
  width: 100%;
}

.priority {
  display: flex;
  padding: 4px 18px;
  gap: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.prio_img {
  filter: brightness(0) invert(1);
}

.contacts {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;
  width: 20px;
  height: 20px;
  background: #0190e0;
  border: 1px solid #ffffff;
  border-radius: 58px;
  color: white;
  font-weight: 400;
  font-size: 12px;
}

.contact:nth-child(2) {
  transform: translateX(-30%);
}

.contact:nth-child(3) {
  transform: translateX(-60%);
}

#opened-card-container {
  position: fixed;
}

#opened-card-container>.task-card {
  position: relative;
  padding: 50px;
}

#opened-card-container>.task-card>.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 25px 40px 0 0;
}

#opened-card-container>.task-card>.edit-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#opened-card-container>.task-card>.epic {
  padding: 4px 36.5px;
  font-size: 27px;
}

#opened-card-container>.task-card>.task-name {
  font-size: 61px;
  margin: 0;
  margin-top: 25px;
}

#opened-card-container>.task-card>.task-description {
  font-size: 21px;
}

#opened-card-container>.task-card>div>div>span {
  font-size: 21px;
}

#opened-card-container>.task-card>div>div {
  margin-top: 30px;
}

#opened-card-container>.task-card>div>div>span {
  font-size: 21px;
  margin-right: 25px;
}

.close-btn {
  position: absolute;
  margin: 35px;
  top: 0;
  right: 10px;
  padding: 20px;
}

.edit-btn {
  padding: 20px;
  align-self: flex-end;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wrapper>div>div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: baseline;
}

.wrapper>div>div>span {
  margin-right: 40px;
}

#openCardSubtasks {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

#openCardSubtasks>div {
  display: flex;
}

#contacts-on-card {
  display: flex;
  flex-direction: column;
}

.contact-on-card {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;
  width: 20px;
  height: 20px;
  background: #0190e0;
  border: 1px solid #ffffff;
  border-radius: 58px;
  color: white;
  font-weight: 400;
  font-size: 12px;
}

.contact-name {
  font-weight: 400;
  font-size: 21px;
}

.underlined {
  text-decoration: underline;
}

.subtask-titel {
  font-weight: 400;
  font-size: 21px;
}

.checkbox {
  padding: 30px;
  background-color: green;
}

.dummy-card {
  border: solid rgba(0, 0, 0, 0.148) 7px;
  border-style: dotted;
  background-color: rgba(201, 201, 201, 0.189);
  align-self: center;
  padding: 18px 19px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  margin-bottom: 35px;
  max-width: 100%;
  z-index: 0;
}

.dummy-card>div {
  min-height: 180px;
}

.d-none {
  display: none !important;
}

.d-hidden {
  visibility: hidden !important;
}

.f-end {
  display: flex;
  align-items: flex-end;
  gap: 25px;
  margin-right: 35px;
}

.only-desktop {
  display: flex !important;
}

.only-mobile {
  display: none !important;
}

nav {
  z-index: 4 !important;
}

@media only screen and (max-width: 1080px) {

  .only-desktop {
    display: none !important;
  }

  .only-mobile {
    display: block !important;
  }

  #kanban {
    flex-direction: column;
    margin-bottom: 100px;
  }

  #opened-card-container {
    position: absolute !important;
    z-index: 3;
    background: #ffffff;
  }

  .task-card {
    justify-content: unset;
    box-shadow: none;
  }

  #edit-area {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    overflow: auto;
  }

  .task-name {
    font-weight: 700;
    font-size: 36px !important;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .task-description {
    font-weight: 400;
    font-size: 16px !important;
    color: black;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .priority {
    transform: scale(0.8);
    position: relative;
    top: 4px;
  }

  .wrapper>div>div>span {
    margin-right: 20px;
    font-weight: 700;
  }

  .edit-btn {
    position: fixed;
    padding: 0px;
    bottom: 100px;
    right: 25px;
    width: 40px;
  }

  .contact-on-card {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
  }

  .contact-name {
    font-size: 16px;
  }

  .subtask-titel {
    font-size: 16px;
  }

  .epic {
    padding: 5px 15px !important;
  }

  #opened-card-container>#edit-area {
    position: absolute;
    top: 80px;
    height: calc(100vh - 160px);
    overflow: scroll;
    width: 90%;
    padding: 10px;
    padding-top: 20px;
  }

  #opened-card-container>.task-card>div>div {
    margin-top: 0px;
  }

  .close-btn {
    margin: 0px;
    padding-inline: 0px;
  }

  main {
    right: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 93vw;
  }

  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 21px;
  }

  .kanban-clm {
    min-height: 50px;
    margin-top: 20px;
    max-height: unset;
  }

  .task-card {
    max-width: 100%;
    min-width: unset;
  }

  .kanban-clm {
    min-height: unset;
    max-height: unset;
  }

  .forms {
    margin-bottom: 0px !important;
  }

  nav {
    z-index: 5 !important;
  }

  #close {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  #btn-add-task {
    display: flex;
    justify-content: center;
    padding: 3px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .wrapper {
    flex-direction: column;
  }
}


/* @media (hover:hover) {
  #mobile-column-btns-container {
    display: none;
  }
} */

#mobile-column-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}

.mobile-column-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);


  flex-grow: 1;
}

.mobile-column-btn.active {
  text-decoration: underline;
  background-color: #2a3647;
  pointer-events: none;
  color: #f4f4f4;
}

.mobile-column-btn:hover {
  background-color: #a8a8a8;
}