.only-desktop {
    display: flex;
}

.only-mobile {
    display: none;
}



@media (max-width: 1080px) {

    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    body {
        margin-top: 80px;
        margin-left: 0px;
        background-color: white;
    }

    .contact-page {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .list {
        width: 100%;
        margin-top: 80px;
    }

    .letter-entrie {
        align-items: center;
    }

    .letter-container {
        display: flex;
        justify-content: space-between;
        width: 325px;
    }

    .letter {
        padding-left: 24px;
    }

    .horizontal-line {
        width: 326px;
    }

    .single-contact {
        padding: 0px;
        width: 307px;
    }

    .single-contact:hover {
        background-image: none;
    }

    .single-contact:active {
        color: #2A3647;
        background-color: white;
    }

    .edit-div {
        height: auto;
    }

    .mail {
        align-items: flex-start;
        width: auto;
    }






















    .mobile-back-arrow {
        position: absolute;
        top: 166px;
        right: 34px;
        cursor: pointer;
    }

    .mobile-edit-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 22px;
        bottom: 120px;
        cursor: pointer;
    }




















    .contact-entrie {
        margin: 0px;
        width: 90%;
    }

    .title {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 19px;
        margin-bottom: 35px;
        gap: 20px;
    }

    h1 {
        font-size: 47px;
    }

    .huge-contact {
        gap: 20px;
    }

    .huge-initials {
        width: 80px;
        height: 80px;
        font-size: 27px;
    }

    .huge-name {
        font-size: 36px;
    }













    .add-btn {
        top: 97px;
        right: 10px;
        left: auto;
        bottom: auto;
    }













    .pop-up-container {
        z-index: 9990;
    }

    .hidden {
        left: auto;
        top: 100vh;
    }

    .pop-up-window {
        z-index: 9999;
        width: 381px;
        height: 761px;
        flex-direction: column;
        position: relative;
    }

    .mobile-pop-up-cross {
        position: absolute;
        top: 26px;
        right: 16px;
    }

    .pop-up-left {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
        width: 381px;
        height: 351px;
    }

    .pop-up-title {
        font-size: 47px;
    }

    .pop-up-subtitle {
        font-size: 21px;
    }








    .pop-up-right {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
        flex-direction: column;
        gap: 0px;
        width: 381px;
        height: 410px;
    }

    .pop-up-profile-pic {
        margin-bottom: 13px;
        position: relative;
        bottom: 70px;
    }

    .pop-up-initials {
        width: 120px;
        height: 120px;
        position: relative;
        bottom: 70px;
    }

    .all-inputfields {
        gap: 35px;
        position: relative;
        bottom: 70px;
    }

    .pop-up-inputfield {
        width: 327px;
        height: 41px;
    }

    .pop-up-input {
        width: 80%;
    }

    .dark-btn {
        width: 212px;
        height: 51px;
        margin-top: 34px;
    }















}