*{
    font-family: 'Inter';
    
}

body{
    display: flex;
    justify-content: flex-start;
    background-color: #F5F5F5;
    margin: 0;
}

h1{
margin: 0;
font-weight: 700;
font-size: 61px;   
margin-block: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 270px;
}

.container > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 35px;
}

p{
    max-width: 70vw;
    display: flex;
    flex-direction: row;
   

}

.container > div > p > a{
    height: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: unset;
    text-decoration: none;
    margin-inline: 5px;
    color: green;
}

#source{
    text-decoration: none;
    color: black;
}

#source:hover {
    background-color: unset;
    text-decoration: underline;
}

.section-number{
    font-weight: 700;
    font-size: 27px;
    
    width: 32px;


  margin-right: 35px;

 
}
