body {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    background-color: #F5F5F5;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    position: absolute;
    top: 50px;
    left: 70px;
}


.sign-up-container {
    display: flex;
    align-items: center;

    position: absolute;
    top: 50px;
    right: 70px;
}

.sign-up-container-text {
    font-size: 21px;
}

.sign-btn {
    font-size: 16px !important;
    padding: 16px !important;
    margin-left: 32px;
}


.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 652px;
    padding: 35px 0px;
    gap: 35px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

h1 {
    font-weight: 700;
    font-size: 61px;

    line-height: 120%;
    margin: 0px;
    height: 64px;

    text-align: center;
}

.underline {
    width: 150px;
    border-top: 3px solid #29ABE2;
    border-radius: 3px;
}

.login-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-single-input-container {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 21px;
    margin-bottom: 50px;

    width: 422px;
    height: 51px;

    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.login-input {
    width: 335px;
    height: 45px;
    border: none;

    font-family: 'Inter';
    font-size: 21px;

}

.login-input:focus {
    outline: none;
}

.login-input::placeholder {
    font-size: 21px;
    color: #D1D1D1;
}

.login-text {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 32px;
}

.login-remember-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.remember-checkbox {
    cursor: pointer;
}

.login-remember-text {
    margin: 0px;
    display: flex;
}

.forgot-password {
    color: #29ABE2;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline #29ABE2;
}

.login-button-container {
    display: flex;
    gap: 35px;
}

.login-button {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;

    padding: 13px 41px;
    background-color: #2A3647;
    border-radius: 8px;
    border: none;

    cursor: pointer;
    transition: 75ms ease-in-out;
}

.login-button:hover {
    transform: scale(0.97);
}

.login-button:active {
    opacity: 0.85;
}

.guest {
    color: #2A3647;
    background-color: #FFFFFF;
    border: 1px solid #2A3647;
    padding: 12px 14px;
}

/****************************FORGOT PASSWORD*************************/

.forgot-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 826px;
    padding: 44px 0px;
    gap: 35px;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: relative;
}

.forgot-text {
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    margin: 0px;
}

.place-blue-arrow {
    position: absolute;
    top: 40px;
    left: 38px;
}

.continue-btn {
    width: 264px;
}

.success-reset-button {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;

    width: 326px;
    height: 74px;

    padding: 23px 30px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 75ms ease-in-out;
}

.success-reset-button:hover {
    transform: scale(0.985);
}

.success-reset-button:active {
    opacity: 0.85;
}

/****************************MOBILE SECTION*************************/

.mobile-backgound-first-page {
    display: none;
}

.mobile-logo-container {
    display: none;
}

.mobile-sign-up {
    display: none;
}

.mobile-back-arrow {
    display: none;
}

.only-dekstop {
    display: block;
}

.only-mobile {
    display: none;
}

/****************************FORGOT PASSWORD*************************/

@media (max-width: 1300px) {  /** Version for small computer screens*/

    .sign-up-container {
        top: 30px;
        right: 50px;
    }

    .logo {
        transform: scale(0.8);
    }

}

@media (max-width: 1000px) {  /** Version for very small computer screens*/

    .sign-up-container {
        top: 20px;
        right: 20px;
    }

    .logo {
        transform: scale(0.6);
        top: 0px;
        left: 20px;
    }

    .forgot-card {
        max-width: 90%;
    }

    h1 {
        margin-inline: 16px;
    }

    .place-blue-arrow {
        display: none;
    }

    .mobile-back-arrow {
        display: flex;
        width: 80%;
    }

    .only-dekstop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

}

@media (max-width: 800px) {

    body {
        flex-direction: column;
        justify-content: flex-start;
    }

    .first-page {
        display: none;
    }

    .mobile-backgound-first-page {
        width: 100%;
        height: 100vh;
        background-color: #2A3647;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 47px;
        height: auto;
    }

    .logo {
        display: none;
    }

    .mobile-logo-container {
        display: flex;
        width: 90%;
        margin-bottom: 45px;
    }

    .logo-mobile {
        transform: scale(80%);
    }

    .login-card {
        width: 90%;
        max-width: 450px;
        margin-bottom: 32px;
        gap: 30px;
    }

    .login-card-content {
        width: 90%;
        gap: 8px;
    }

    .mobile-login-input-container {
        width: 100%;
    }

    .login-single-input-container {
        width: auto;
        height: 41px;
        margin-bottom: 32px;
    }

    .login-input {
        width: 80%;
        height: 36px;
    }

    .login-text {
        flex-direction: column-reverse;
        gap: 24px;
        width: 95%;
        align-items: flex-start;
    }

    .login-button-container {
        flex-direction: column;
        gap: 21px;
    }

    .login-button {
        font-size: 16px;
        width: 180px;
        height: 51px;
    }

    .mobile-sign-up {
        display: flex;
        position: relative;
        padding-block: 16px;
        top: 0px;
        right: 0px;
    }

    .desktop-sign-up {
        display: none;
    }

    .sign-btn {
        width: auto;
    }

    .forgot-card {
        width: 90%;
        max-width: 450px;
        gap: 21px;
    }

    .forgot-text {
        margin-inline: 16px;
    }

    .login-button {
        padding: 0px;
    }

}

@media (max-width: 330px) {

    .mobile-sign-up {
        flex-direction: column;
    }

    .success-reset-button {
        max-width: 95%;
        width: auto;
        height: auto;
    }

}