/****************************OUTSEIDE OF CARD*************************/

.only-dekstop {
    display: block;
}

.only-mobile {
    display: none;
}

/** Version for Cellphones*/
@media (max-width: 850px) {

    body {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 200px;
    }

    .only-dekstop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .mobile-logo {
        position: absolute;
        top: 37px;
        left: 38px;
        transform: scale(0.8);
    }

    .mobile-sign-up {
        display: flex;
        align-items: center;

        top: 50%;
        left: 50%;
    }

    .dark-arrow {
        position: absolute;
        top: 32px;
        left: 27px;
        cursor: pointer;
    }

    .desktop-sign-up {
        display: none;
    }

    .card {
        width: 372px;
        height: 573px;
        margin-bottom: 49px;
    }

    .dark-btn {
        font-size: 16px;
        width: 180px;
        height: 51px;
    }

    .bright-btn {
        font-size: 16px;
        width: 180px;
        height: 51px;
    }

    /****************************OUTSEIDE OF CARD*************************/

    /****************************INSIDE OF CARD*************************/

    h1 {
        font-size: 47px;
        height: 41px;
    }

    .underline {
        width: 80px;
    }

    .inputfield {
        width: 327px;
        height: 41px;
    }

    .input {
        width: 80%;
        height: 36px;
    }

    .memorie-container {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 30px;
        width: 327px;
    }

    .login-button-container {
        flex-direction: column;
        gap: 21px;
    }

    /****************************INSIDE OF CARD*************************/

    /****************************SIGN UP SECTION*************************/

    .sign-up-card {
        height: 501px;
    }

    /****************************SIGN UP SECTION*************************/

    /****************************FORGOT SECTION*************************/

    .forgot-card {
        height: 502px;
        gap: 24px;
        text-align: center;
    }

    .text {
        width: 322px;
    }

    /****************************FORGOT SECTION*************************/

    /****************************RESET SECTION*************************/

    .reset-card{
        text-align: center;
        height: 525px;
    }

    /****************************RESET SECTION*************************/


    /****************************MOBILE CSS*************************/





}



/* .screen-cover-logo {
        position: absolute;
        top: 44%;
        left: 44%;
        transform: scale(1.5);
    }

    .screen-cover {
        z-index: 100;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #2A3647;
        transition: 500ms ease-in-out;
    } */