<header>

    <h3>Kanban Project Management Tool</h3>
    <div class="profileContainer">
        <div onclick="logOut()" id="log-out" class="log-out d-none">Log out!</div>
        <img onclick="location.href = 'help.html'" src="./assets/help.svg" id="help">
        <img class="mobile-logo" src="./assets/mobile-logo.svg">
        <img onclick="showLogOut()" style="width: 49px; height: 49px;" src="./assets/profile-pic.png" alt="">
    </div>

</header>


<nav>
    <img id="logo" src="./assets/join-logo-white.svg" alt="">

    <div class="navbar">
        <a id="summary" href="./summary.html">
            <img src="./assets/summary.svg" alt="">
            Summary
        </a>
        <a id="board" href="./board.html">
            <img src="./assets/board.svg" alt="">
            Board
        </a>
        <a id="addTask" href="./addTask.html">
            <img src="./assets/addTask.svg" alt="">
            Add Task
        </a>
        <a id="contacts" href="./contacts.html">
            <img src="./assets/contacts.svg" alt="">
            Contacts
        </a>

    </div>
    <div class="legal-notice-container">

        <img id="legal-notice-img" src="./assets/legalNotice.svg" alt="">
        <div>
            <a id="impressum" class="legalNotes" href="./impressum.html">
                Impressum</a>
            <a id="datenschutz" class="legalNotes" href="./datenschutz.html">
                Datenschutz
            </a>
        </div>
    </div>


</nav>