<header>

    <h3>Kanban Project Management Tool</h3>
    <div class="profileContainer">
        <div onclick="logOut()" id="log-out" class="log-out d-none">Log out!</div>
        <img src="./assets/help.svg" alt="">
        <img class="mobile-logo" src="./assets/mobile_logo.svg">
        <img onclick="showLogOut()" src="./assets/profile_picture.jpg" alt="">
    </div>

</header>


<nav>
    <img id="logo" src="./assets/join_logo_white.svg" alt="">

    <div class="navbar">
        <a href="./summary.html">
            <img src="./assets/summary.svg" alt="">
            Summary
        </a>
        <a href="./board.html">
            <img src="./assets/board.svg" alt="">
            Board
        </a>
        <a href="./addTask.html">
            <img src="./assets/addTask.svg" alt="">
            Add Task
        </a>
        <a href="./contacts.html">
            <img src="./assets/contacts.svg" alt="">
            Contacts
        </a>

    </div>
    <a class="legal-notice" href="./legalNotice.html">
        <img src="./assets/legalNotice.svg" alt="">
        Legal Notice
    </a>

</nav>